header{
    background-color:#161516;
    padding: 20px;
}
.titulo-principal{
    position: absolute;
    top: 7%;
    left: 45%;
    transform: translate(8%, -20%);
    font-size: 40px;
    color:#C2EFE2;
    font-family: 'acme';
    color: #D697F3;
}
img{
    width: 500px;
    height: 150px;
}
body {
    background-color:#ffffff;
}
nav{
    position: absolute;
    top: 160px;
    right: 50px;
}
nav li{
    display: inline;
    margin: 0 0 0 15;
}
nav a{
    text-transform: uppercase;
    color:#D697F3;
    font-size: 20px;
    text-decoration: none;
    font-family: 'italic';
}
nav a:hover{
    color: #C2EFE2;
    text-decoration: underline;
}
nav ul li {
    display: inline;
    margin-right: 30px;
}